<% include ./partials/boilerplate.ejs %>
<form method="GET" action="/todo/auth/login">
  <button type="Login">Login</button>
</form>
<form method="GET" action="/todo/auth/register">
  <button type="Register">Register!</button>
</form>

<% include ./partials/end.ejs %>
