<% include ./partials/boilerplate.ejs %>

  <div class = 'form-page'>
    <div class = 'add'>
      <form action = '/todo?_method=PUT' method = 'POST'>
        <input type = 'text' name = 'todo' placeholder = 'Todo Item' value = '<%= data.todo %>'/>
        <input type = 'text' name = 'info' placeholder = 'Extra Info' value = '<%= data.info %>'/>
        <input type = 'text' name = 'status' placeholder = 'Current Status' value = '<%= data.status %>'/>
        <input type = 'submit' value = 'Save it!'>
      </form>
    </div>
    <a href = '/todo'>Back to do list</a>
  </div>



<% include ./partials/end.ejs %>
