<% include ./partials/boilerplate.ejs %>

<h1>Do: <%= data.todo %> </h1>
<h1>More info: <%= data.info %> </h1>
<h1>Status: <%= data.status %> </h1>

<form method="get" action="/todo">
    <button type="submit">Back to my list!</button>
</form>
<form method="POST" action="/todo/<%= data.id %>?_method=DELETE"">
    <button type="submit">Delete!</button>
</form>


<% include ./partials/end.ejs %>
